unpackaged/main/default/flows/Account_On_Create_Update_Set_Hot_Account_Status_and_Send_Hot_Account_Meeting_Com.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Hot_Account_Meeting_Completed_Notif_to_James_B_and_David_P</name>
        <label>Send Hot Account Meeting Completed Notif to James B and David Pget</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.Hot_Account_Meeting_Completed_Custom_Notif</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>colUserids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>formAccountDescTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>formHotAccountDescNotif</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_values_to_colUserId</name>
        <label>Assign values to colUserId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colUserids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_User</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>formAccountDescTitle</name>
        <dataType>String</dataType>
        <expression>&quot;Hot Account Meeting Completed (&quot; &amp; {!$Record.Name} &amp;&quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>formHotAccountDescNotif</name>
        <dataType>String</dataType>
        <expression>&quot;The following account was marked Hot on &quot; &amp; TEXT(DATEVALUE({!$Record.Hot_Account_Date__c})) &amp; &quot;. The meeting has been completed and the results are in the record.&quot;</expression>
    </formulas>
    <interviewLabel>Account - On Create/ Update - Set Account Status and Send Hot Account Meeting Completed Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - On Create/ Update - Set Hot Account Status and Send Hot Account Meeting Completed Notification</label>
    <loops>
        <name>Each_User</name>
        <label>Each User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_James_B_and_David_P_user_ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_colUserId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Hot_Account_Meeting_Completed_Notif_to_James_B_and_David_P</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_James_B_and_David_P_user_ids</name>
        <label>Get James B and David P user ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_User</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>James Busch</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>David Poteat</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Hot_Account_Status_to_Completed</name>
        <label>Update Hot Account Status to Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_James_B_and_David_P_user_ids</targetReference>
        </connector>
        <inputAssignments>
            <field>Hot_Account_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Hot_Account_Status_to_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hot_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hot_Account_Meeting_Description__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hot_Account_Meeting_Description__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colUserids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
